.custom-input-with-label {
    .ant-input, .ant-input-password {
        @apply rounded-[5px] h-[50px] px-4 pt-3 px-4 pb-0;
    }

    .ant-input-password {
        .ant-input {
            @apply h-auto;
        }

        .ant-input-suffix {
            @apply absolute top-[40%] right-4;
        }

        &:hover, &:focus {
            @apply z-0;
        }
    }

    .ant-input-outlined {
        &:focus, &:focus-within, &:hover {
            @apply border-[#f80] outline-[#f80] shadow-none bg-[#fafafa];
        }
    }

    .custom-label {
        @apply absolute top-[32%] left-4 text-[14px] text-[gray];
    }

    .active-label {
        pointer-events: none;
        transform-origin: top left;
        transition: 0.1s ease;
        @apply text-[12px] absolute top-[10%] left-4 text-gray-500 z-[1];
    }

    @apply relative;
}
