.loadingContainer {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: calc(100vh - 100px);

  .overlay{
    mix-blend-mode: normal;
    background-color: rgba(12,16,35,0.9);
    position: absolute;
    inset: 0px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .loadingContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
  }
}